# Markdown
## Markdown
### Markdown
#### Markdown
##### Markdown
###### Markdown

#### for italics and bold
* *italics*
* **bold**
* ***italics and bold***

- Normal heading
    - sub heading1
    - sud heading2

![image](https://mpng.pngfly.com/20181128/cbr/kisspng-python-programming-basics-for-absolute-beginners-michigan-python-user-group-5-jul-2-18-5bfef921c53528.7857216715434365778078.jpg)

## linkedin
[linkedin](https://www.linkedin.com/in/kapardi-reddy-a64b27198/detail)

In [18]:
print("hello,GITAM")
print("hi")

hello,GITAM
hi

In [22]:
print("hello,GITAM",end="||")
print("good morning")

hello,GITAM||good morning

# Assigment

In [25]:
a ="python"
b ="p"
c =10
type(c)

str

In [26]:
a =10.5
type(a
)

float

In [27]:
a =10
b =10
print(id(a))
id(b)

1691142448

1691142448

In [34]:
name ="name"
age = 12
print("my name is",name,"my age is",age)

my name is name my age is 12

In [38]:
a =int(input("enter a number "))
b =int(input("enter another number "))
c =a+b
print("the sum of the two numbers is" , c)

enter a number 33
enter another number 66
the sum of the two numbers is 99

In [41]:
c1 = 2+3j
c2 = 3-4j
c3 = 4+5j
print(c1+c2)
print(c2-c3)
print(c3*c1)

(5-1j)
(-1-9j)
(-7+22j)

In [43]:
a = True
type(a)

bool

In [45]:
b = False
type(b)

bool

In [46]:
a>b

True

In [53]:
True>False

True

In [54]:
s1 ="abc"
s2 ="def"
print(s1)
s2

abc

'def'

In [55]:
i =100
type(i)

int

In [56]:
s1 =(str(i))
print(i)
type(s1)

100

str

In [57]:
a ="abcdefghijklmnopqrstuvwxyz"
len(a)

26

In [66]:
n1 =12
n2 =10
print(n1-n2)
print(n1+n2)
print(n2-n1)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)
print(n1>n2)
print(n1<n2)
print(n1>=n2)
print(n1==n2)
print(n1<=n2)
print(n1!=n2)

2
22
-2
120
1.2
2
1
61917364224
True
False
True
False
False
True

In [68]:
x =8
y =0
print(x>=5 and x<10)
print(x>=5 and x<=10)
print(not(x))
print(not(y))

True
True
False
True

In [70]:
x =2
y =3
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [72]:
str1 ="abc"
print('a' in str1)
print('a' not in str1)

True
False

## conditional statements
* if
* if-else
* elif

In [77]:
x =10
if x>6 :
    print("positive")

positive

In [79]:
x =10
if x>20 :
    print("positive")
else :
    print("negative")

negative

In [86]:
x = int(input("enter number"))
if x>0 :
    print("positive")
elif x<0 :
    print("negative")
else :
    print("zero")

enter number-87
negative