# collection types

## 1. list
## 2. tuple
## 3. set
## 4. dictionary

# 1. List - [     ]

In [1]:
##list example :-


list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [3]:
list2 =[1,1.23,"Gitam","hyd"]
print(list2)

[1, 1.23, 'Gitam', 'hyd']

In [37]:
## accessing list elements :


list1 =[1,2,3,4,5]
print(list1[0])
print(list1[-1])
print(list1[-4])

1
5
2

In [11]:
list1 = [1,2,3,4,5]
list1[0:3]

[1, 2, 3]

In [36]:
list1 =[1,2,3,4,5]
print(list1[0:3])           ## start : stop
print(list1[0:5:2])         ## start : stop : step

[1, 2, 3]
[1, 3, 5]

In [35]:
list1 =[1,2,3,4,5]
print(list1[0:3])           ## start : stop
print(list1[0:5:2])         ## start : stop : step
print(list1[2:])            ## start value upto the end of the list
print(list1[::2])

[1, 2, 3]
[1, 3, 5]
[3, 4, 5]
[1, 3, 5]

In [22]:
del list1[0]

In [23]:
list1

[2, 3, 4, 5]

### Basic list operations

In [32]:
list1 =[1,2,3,4,5]
len(list1)

5

In [26]:
print(list1*2)
len(list1*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

10

In [29]:
4 in list1

True

In [30]:
8 in list1

False

In [33]:
## accessing list elements with for loop

list1 =[1,2,3,4]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4

In [38]:
for i in [1,2,3,4]:
    print(i,end= " ")

1 2 3 4

In [41]:
list1 =[1,2,3,4]
print(max(list1))
print(min(list1))
print(sum(list1))
print(sum(list1)/len(list1))

4
1
10
2.5

#### list methods

In [101]:
list1 = [1,2,3,4]
list1.append(5)                ## to add element in the list after the last element in the list
list1

[1, 2, 3, 4, 5]

In [102]:
list1 = [1,2,3,4]
list1.append(5)
list1.insert(2,6)             ##inserts an element in between the elements
list1

[1, 2, 6, 3, 4, 5]

In [103]:
list1 = [1,2,3,4]
list1.append(5)
list1.insert(2,6)
list1.count(3)
list1

[1, 2, 6, 3, 4, 5]

In [104]:
list1.pop()           ##gives the last index element

5

In [105]:
list1.count(2)

1

In [106]:
list1.pop(3)          ##removes the elements from the specified index value

3

In [107]:
list1

[1, 2, 6, 4]

In [108]:
list1
print(list1)
list1.index(2)
list1.extend([5,6,7])
list1

[1, 2, 6, 4]

[1, 2, 6, 4, 5, 6, 7]

In [111]:
list1 =[1,2,3,4,5,6,7]
list2 =[8,9,10]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
li = [10,20,30,40]
print(li)
li.reverse()
print(li)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [113]:
li1 =[1,6,4,3,10,40,30]
li1.sort()                               ##sorts the elements in the correct order
li1

[1, 3, 4, 6, 10, 30, 40]

In [120]:
li =[1,5,3,6,90]
li[::2]

[1, 3, 90]

# 2. Tuples - ( )

In [123]:
tuple1 =(1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [122]:
tuple2 = (1,1.2,"hyd")
print(tuple2)
type(tuple2)

(1, 1.2, 'hyd')

tuple

In [127]:
t1 =(10,20,30)
t1[0:2]
t1[::-1]

(30, 20, 10)

# 3. Dictionary - { }

##### each key and value pair is separated by a comma( , )
##### keys should be unique ,  values may or may not be unique
##### key and value pairs are separated by a colon (  :  )

In [146]:
d1 = {"name":" Gitam ","Roll.no": 1234 , "address" :"hyd"}
d1

{'name': ' Gitam ', 'Roll.no': 1234, 'address': 'hyd'}

In [147]:
d1 ["name"]

' Gitam '

In [148]:
d1["email"] = "gitam@gmail.com"
d1

{'name': ' Gitam ',
 'Roll.no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com'}

In [149]:
### adding one more entry

d1["course"] = "Python"
d1

{'name': ' Gitam ',
 'Roll.no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'Python'}

In [150]:
d1.keys()            ### returns all the key from the dictionary

dict_keys(['name', 'Roll.no', 'address', 'email', 'course'])

In [151]:
d1.values()         ### returns all the values stored in the keys

dict_values([' Gitam ', 1234, 'hyd', 'gitam@gmail.com', 'Python'])

In [152]:
d1.items()           ## returns both keys and their values

dict_items([('name', ' Gitam '), ('Roll.no', 1234), ('address', 'hyd'), ('email', 'gitam@gmail.com'), ('course', 'Python')])

In [153]:
del d1["name"]               ## delets the key
d1

{'Roll.no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'Python'}

## Assigment

#### 1. function to find the factorial of a number
        input  : 5
        output : 120
#### 2. function to find if the given number is a strong number or not
        input  : 145

In [154]:
### 1.function to find the factorial

def fact(x):
    p=1
    while x!=0:
        p=p*x
        x=x-1
    print(p)
fact(5)

120

In [ ]:
### 2. function to find if the number is strong or not

def strong(x):
    sum=0
    num=x
    while x!=0:
        p=1
        r=x%10
        while r!=0:
            p=p*r
            r=r-1
        sum=sum+p
        x=x//10
    if(sum==num):
        return "strong number"
    else:
        return "not a strong number"
x =int(input("enter the number "))
strong(x)

## 4. Strings

In [18]:
s1 = "python"
print(s1)
type(s1)

python

str

In [9]:
## accessing the first character


print(s1[0])
print(s1[-1])
print(s1[2:5])
s1[::2]

p
n
tho

'pto'

In [24]:
print(s1)
print(s1[0])
print(s1[-1])
print(s1[2:5])
print(s1[::2])
s1[::3]
s1[::4]

python
p
n
tho
pto

'po'

In [25]:
s1 = "python"
print(s1)
print(s1[1::])
print(s1[3::])
print(s1[:4])
print(s1[-2:])

python
ython
hon
pyth
on

In [27]:
s1 ="python"
s1[1:-1]
s1[0:5:2]

'pto'

In [29]:
str1 = "python"
print(str1)
print(str1[::-1])
if str1 == str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

python
nohtyp
not a palindrome

In [30]:
str1 = "MoM"
print(str1)
print(str1[::-1])
if str1 == str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

MoM
MoM
palindrome

### built in methods

In [31]:
s1 = "python"
print(s1.upper())
print(s1.lower())

PYTHON
python

In [36]:
s1 ="python"
s2 ="py123thon"
s3 ="123"
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True

In [39]:
s1 ="python"
s2 ="py123thon"
s3 ="123"
print(s1.isalpha())
print(s2.isnumeric())
print(s3.isnumeric())

True
False
True

In [40]:
s1 ="python"
print(" ".join(s1))

p y t h o n

In [41]:
s1 ="python"
print(",".join(s1))

p,y,t,h,o,n